
/*---Base Page---*/
.container-fluid {
    width: 100%;
    padding: 0px;
}

/*---Navbar---*/
.navbar {
    background-color: gray;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: black;
}
