.container-fluid {
    background-color: slategray;
    color: white;
    padding: 4em;
}

img {
    border: 1px solid black;
}

.header .text {
    border: 1px solid black;
    display: inline;
    text-align: center;
    font-size: 50px;
}