/* ---------------
    Jumbotron
--------------- */

.container-fluid {
    /* background-color: #F2B646; */
    background-color: #EBB387;
    color: white;
    padding: 4em;
}

.container1 {
    width: 100%;
}

.header .text {
    text-align: center;
    font-size: 50px;
}

#logo {
    position: absolute;
    left: 0;
    margin-left: 3em;
}

/* -----------
    Footer
----------- */

.footer {
    color: white;
    width: 100%;
    padding: 1em;
    background-color: black;
}

#email {
    color: white;
    font-size: 30px;
}

/* ---------------
    Nav Stuff
--------------- */

nav {
    /* background-color: #664E1F; */
    /* background-color: #EBB387; */
    background-color: black;
}

.navbar {
    color: white;
    font-size: 20px;
}

.nav-item {
    margin-left: 100%;
}

.nav-link {
    color: lightgray;
}

.nav-link:hover {
    color: white;
}

.nav-link:focus {
    color: black;
}