.container-fluid {
    /* background-color: #F2B646; */
    background-color: #EBB387;
    color: white;
    padding: 4em;
}

.container1 {
    width: 100%;
}

.footer {
    color: white;
    width: 100%;
    padding: 1em;
    background-color: black;
}

.header .text {
    text-align: center;
    font-size: 50px;
}

nav {
    /* background-color: #664E1F; */
    background-color: #EBB387;
}

.navbar {
    color: white;
}

.nav-item {
    margin-left: 2em;
}